# Built application files
*.apk
*.ap_
*.dex
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.so

# Gradle files
.gradle/
build/
**/build/

# IDE files
.idea/
*.iml
.DS_Store

# Logs and dumps
*.log
*.hprof
*.zip

# wrangler files
.wrangler
node_modules/
.dev.vars*
!.dev.vars.example
.env*
!.env.example
